/* 
Thoughts? Do you think everything should maybe be smaller?
*/

@font-face {
font-family:"Futura";
src:url("../fonts/Futura.ttc");
}

@font-face {
font-family:"Arial";
src:url("../fonts/Arial.ttf");
}

@font-face {
font-family:"GeosansLight";
src:url("../fonts/GeosansLight.ttf");
}

@font-face {
font-family:"Origin-Bold";
src:url("../fonts/Origin-Bold.ttf");
}

@font-face {
font-family:"Gram";
src:url("../fonts/Gram.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body{
    min-width:1040px;
    margin: 0;
    padding: 0;
}

#powerbucks{
    font: 12pt "GeosansLight", sans-serif;
    color: black;
    position: fixed;
    top: 29px;
    left: 1150px;
    z-index: 9999;
    width: 400px;
}

#header_wrapper {
    position: fixed;
    top: 0px;
    width: 100%; 
    background-color:#FFCC33;
    height: 77px;
    display: inline-block;
    z-index: 9997;
}

#logo {
    margin-left: 50px;
    width: 200px;
    display:inline-block;
}

#logoimage {
    position: relative;
    height: 73px;
    background-color: white;
    padding: 2px 20px;
    right: 10px;
}

#logo {
    margin-left: 50px;
    width: 200px;
    display:inline-block;
}

#logo a {
    color: transparent;
    margin: 0 auto;
    width: 200px;
    height: 73px;
}

ul#top_nav {
    left: 250px;
    top: 0px;
    display:inline-block;
    position: absolute;
    height: 70px;
    border: 0;
    min-width: 1024px;
    margin-left: 40px;
}

ul#top_nav * {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 77px;
    margin-right: -1px;
}

ul#top_nav li p {
    height: 30px;
    margin-top: 20px;
    text-decoration: none;
    color: #404040;
    font: 16pt "Futura", sans-serif;
}

ul#top_nav li a {
    margin: auto;
    position: absolute;
}

#nav_tickets p {
}


#nav_nticket {
    padding-top:1px;
    height: 74px !important;
}

#nav_nticket:hover {
    background-color: #FFD018;
}

#nav_tickets {
    padding-top: 2px;
    height: 74px !important;
}

#nav_tickets:hover {

}

#nav_rewards {
    padding-top: 2px;
    height: 74px !important;
}

#nav_rewards:hover {
    background-color: #FFD018;
}

#nav_settings {
    padding-top: 2px;
    height: 74px !important;
}

#nav_settings:hover {
    background-color: #FFD018;
}




span , .radio{
    color:black;
}

.form-row{
   float:left;
    clear:both;
    margin-top:3px;
    margin-bottom:3px;
    
}

.form-row *{
    vertical-align:center;
    display:inline-block;
}

.form-row p{
    width:180px;
    margin-left:0;
    text-align:left;
    
}

#creditHeader, #cart{
    display:inline-block;
    vertical-align:top;
    height:700px;
}

#creditHeader{

    width:600px;
     border-right:solid 2px black;
   
}

#cart{

}

.button {
    background-color: #FFCC33;
    border: solid 1px;
    border-color: #E5E6E5;
    height: 30px;
    width: 210px;
    padding-right: 5px;
    font: 12pt "Futura", sans-serif;
    color: white;
    left: 630px;
    bottom: 20px;
    text-align: center;
    
}

footer {
    top: 30px;
}


input{
    height:30px;
    font: 14pt "GeosansLight", sans-serif;
}

#mid p{
    color:#404040;
}

#exp{
    width:20px;
}

select{
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 1px solid gray;
   border-radius: 0;
   height: 34px;
}

#mid h3{
    padding-bottom:10px;
    text-align:left;
    color:#404040;
    
}

#mid h2{
    color:#404040;
    padding-bottom:20px;
}

#mid li{
    margin-left:60px;
    text-align:left;
    color:#404040;
    font: 14pt "GeosansLight", sans-serif;
    
}
