<!DOCTYPE html>
<html>
<head>
    <title>Lotteria</title>
    <link rel="stylesheet" href="../public/css/credit.css" type="text/css" />

    <link rel="stylesheet" href="../public/css/ticket.css" type="text/css" />
    <script type="text/javascript" src="/public/javascript/credit.js"></script>
</head>
<body>
    <div id="powerbucks">You have: ${{user.powerbucks}} PowerBucks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <header>
		<div id="header_wrapper">
			<h1 id="logo"><a href="/home"><img src ="../public/images/Logo-Large.png" alt = "Pool Party Logo" id="logoimage">Lotteria</a></h1>
			<ul id="top_nav">
				<li id="nav_nticket"><a href="/newPool"></a><p>NEW POOL</p></li>
				<li id="nav_tickets"><a href="/mytickets"></a><p>MY POOLS</p></li>
				<li id="nav_rewards"><a href="/rewards"></a><p>REWARDS</p></li>
				<li id="nav_settings"><a href="/logout"></a><p>LOGOUT</p></li>
			</ul>
		</div>
	</header>
    <div id="mid">
        
    
        
        
        <div id = "creditHeader">
            <div id = "formHeader">
                <form method="POST" action="/process_payment/{{info.pool_id}}">
                <h3>Please provide us with your credit card information to complete the purchase.</h3>
                <div class="form-row">
                    <label>
                      <p>First Name:</p>
                      <input name="firstName" autocomplete="off" type="text" id = "first" size="30" data-stripe="number"/ value="{{user.profile.name.givenName}}">
                    </label>
                </div>
                <div class="form-row">
                    
                    
                   
                    <label>
                      <p>Last Name:</p>
                      <input name="lastName" autocomplete="off" type="text" id = "last" size="30" data-stripe="number" value="{{user.profile.name.familyName}}"/>
                    </label>
                         </div>
                  
                    <div class="form-row">
                    <label>
                      <p>Address 1:</p>
                      <input autocomplete="off" type="text" id = "address1" size="30" data-stripe="number"/>
                    </label>

               
                  </div>
                             
                    <div class="form-row">
                    <label>
                      <p>Address 2:</p>
                      <input autocomplete="off" type="text" id = "city" size="30" data-stripe="number"/>
                    </label>

               
                  </div>
                     
                    <div class="form-row">
                    <label>
                      <p>State:</p>
                      <input autocomplete="off" type="text" id = "state" size="30" data-stripe="number"/>
                    </label>

               
                  </div>
                 
                    
            <div class="form-row">
                    <label>
                      <p>Zip:</p>
                      <input autocomplete="off" type="text" id = "zip" size="30" data-stripe="number"/>
                    </label>

               
                  </div>
                     
                    <div class="form-row">
                    <label>
                      <p>City:</p>
                      <input  autocomplete="off" type="text" id = "email" size="30" data-stripe="number"/>
                    </label>

               
                  </div>
                    <div class="form-row">
               
                      <p>Phone:</p>
                      <input autocomplete="off" type="text" id = "phoneNumber" size="30" data-stripe="number"/>
                   

               
                  </div>
            
                    <div class="form-row">
                    <label>
                      <p>Email:</p>
                      <input name="email" autocomplete="off" type="text" id = "email" size="30" data-stripe="number"/>
                    </label>

               
                  </div>
                    <div class="form-row">
                    
                    
                      <p>Card Type:</p>
                     <select class="customSelect" id="draws" name="shares" tabindex="10" autocomplete="off" >
                <option value="1">American Express</option>
                <option value="2">Visa</option>
                <option value="3">Master Card</option>
               

                
                
            </select>
                         </div>
                  
                
                  <div class="form-row">
                    <label>
                      <p>Card Number:</p>
                      <input autocomplete="off" type="text" id = "cardNumber" size="30" data-stripe="number"/>
                    </label>
                  </div>
                <div class="form-row">
                    
                    <label>
                      <p>CVC:</p>
                      <input autocomplete="off" type="text" id = "cardCVC" size="4" data-stripe="cvc"/>
                    </label>
                  </div>
                
                  <div class="form-row">
                    <label>
                      <p >Expiration</p>
                      <input autocomplete="off" type="text" id = "cardExpMonth" size="2" data-stripe="exp-month"/>
                    </label>
                    <p id="exp"> / </p>
                    <input autocomplete="off"  type="text" id = "cardExpYear" size="4" data-stripe="exp-year"/>
                  </div>
                <div class="form-row">
                    
                
                  <button class="button" id = "submitButton" type="submit">Submit Payment</button>
                  <button class="button" id ="cancelButton">Cancel Payment</button>
                        </div>
                </form>
            </div> 
                 
        
        </div>
        <div id = "cart">
            <h2>Pool Party Cart:</h2>
            <ul>
                <li>Number of shares: {{info.shares}}</li>
                <li>Price: ${{info.price}}.00</li>
            </ul>
           
        </div>

        </div>
    <footer>
			<div id="footer_nav">
				<div id="footer_nav_wrapper">
					<ul>
						<li class="footerlink"><a href="/about">About Us</a></li>
						<li class="footerlink"><a href="/howitworks">How it Works</a></li>
						<li class="footerlink"><p>GTechPoolPlay@gmail.com   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1-888-732-1124&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
                        <li class="footerlink"><p>© 2014 GTech - All Rights Reserved</p></li>
					</ul>
				</div>
			</div>
		</footer>
</body>
    
    
</html>