<!DOCTYPE html>
<html>
<head>
    <title>Lotteria</title>
    <link rel="stylesheet" href="../public/css/home.css" type="text/css" />
    <script type="text/javascript" src="/public/javascript/home.js"></script>
</head>
<body>
    <div id="topbar"></div>
    <div id="mid">
        <img src ="../images/powerball.png" alt = "PowerBall">
        <h1 id="jackpot">$80,000,000</h1>
    </div>
    <div id="signup">
        <p>For your chance to win:</p>
        <form method="POST" action="/auth" id="newButton">
            <input type="image" id="fb" src="../images/login_fb.png" />
        </form>
        <p>OR</p>
        <p>Don't want to use Facebook?</p>
        <a href="">Sign up with Email</a>
    </div>
    <div id="feed"></div>
    <div id="footer"></div>
</body>
    
    
</html>