<html>
    <head>
         <link rel="stylesheet" href="../public/css/howitworks.css" type="text/css" />
    
    </head>
    <body>
        
    <div id="powerbucks">You have: ${{user.powerbucks}} PowerBucks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <header>
		<div id="header_wrapper">
			<h1 id="logo"><a href="/home"><img src ="../public/images/Logo-Large.png" alt = "Pool Party Logo" id="logoimage">Lotteria</a></h1>
			<ul id="top_nav">
				<li id="nav_nticket"><a href="/newPool"></a><p>NEW POOL</p></li>
				<li id="nav_tickets"><a href="/mytickets"></a><p>MY POOLS</p></li>
				<li id="nav_rewards"><a href="/rewards"></a><p>REWARDS</p></li>
				<li id="nav_settings"><a href="/logout"></a><p>LOGOUT</p></li>
			</ul>
		</div>
	</header> 
   
    <div class = mid>
    
    
    <h1>How it Works</h1>
        <div class="howPowerBall">
            <div class="title">
            
            
             <h2>How do I&nbsp;</h2>
<img id = "poweballImg" src ="../public/images/PowerBall.png" id="eventImage">       
            <h2>?</h2>
             </div> 
            <div class ="text">
            <span>Powerball® is a combined large jackpot game and a cash game. Every Wednesday and Saturday night at 10:59 p.m. Eastern Time, we draw five white balls out of a drum with 59 balls and one red ball out of a drum with 35 red balls. Players win by matching one of the 9 Ways to Win. The jackpot is won by matching all five white balls in any order and the red Powerball. Each ticket costs $2.
Power Play® is a special feature that allows a winner to increase the original prize amount.  The Power Play option costs $1 and must be selected when you buy your Powerball ticket.  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Courtesy of Powerball.com</span>
                 </div>
        </div>
       <div class = "poolPlay">
           <div class = "title">
            <h2>Pool Play?</h2>
           </div>
           <div class="text">
           
           
           <span>The concept behind Pool Play is to take PowerBall from the standard paper ticket format to a social and engaging new medium. Pools can be created by friends, family or outside sponsors with the intent of working together to win the lotto prize. A pool contains multiple tickets bought by different users for a specified draw date and if any ticket in the pool ones all players split the reward. This experience is continually being improved with Second Draw Feature in the works. Members of a pool will be given the option to run a smaller secondary lottery to divide any prizes won by the pool. Players will also have option to reinvest or cash out their earnings.</span>
        </div>
        </div>
      <div class = "powerbucks">
          <div class ="title">
          
         
        <h2>What are&nbsp;</h2> 
          <img id = "powerbucksImg" src ="../public/images/Powerbucks.png" id="eventImage"> 
               
         
          
          
        
          <h2>PowerBucks?</h2>
</div>
           <div class="text">
           <span>PowerBucks are a simple reward system that we have encorperated into the Pool Party site. The idea behind this digital currency is to keep our players in the green. Normal powerball has a 1:35 chance of paying out and on top of this we have decided to garuntee a reward and give you PowerBucks for every ticket purchase or friend invite. These PowerBucks can be redeemed at anytime in the reward store for the latest prizes.</span>
     
          </div>
        </div>
        
        <form action="/landing">
          <button id="start">GET STARTED!</button>
        </form>
        </div>
            <footer>
			<div id="footer_nav">
				<div id="footer_nav_wrapper">
					<ul>
						<li class="footerlink"><a href="/about">About Us</a></li>
						<li class="footerlink"><a href="/howitworks">How it Works</a></li>
						<li class="footerlink"><p>GTechPoolPlay@gmail.com   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1-888-732-1124&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
                        <li class="footerlink"><p>© 2014 GTech - All Rights Reserved</p></li>
					</ul>
				</div>
			</div>
		</footer>
         </body>
</html>