<!DOCTYPE html>
<html>
<head>
    <title>Lotteria</title>
    <link rel="stylesheet" href="../public/css/ticket.css" type="text/css" />
    <script type="text/javascript" src="/public/javascript/home.js"></script>
</head>
<body>
    <div id="powerbucks">You have: $120 PowerBucks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <header>
		<div id="header_wrapper">
			<h1 id="logo"><img src ="../public/images/Logo-Large.png" alt = "Pool Party Logo" id="logoimage"><a href="#">Lotteria</a></h1>
			<ul id="top_nav">
				<li id="nav_nticket"><a href="/newPool"></a><p>NEW POOL</p></li>
				<li id="nav_tickets"><a href="/mytickets"></a><p>MY POOLS</p></li>
				<li id="nav_rewards"><a href="/rewards"></a><p>REWARDS</p></li>
				<li id="nav_settings"><a href="/"></a><p>LOGOUT</p></li>
			</ul>
		</div>
	</header>
    <div id="mid">
        <h1 id="jackpot">Current Jackpot: $80,000,000</h1>
    </div>
    <p id="yourtix">Your Pools:</p>
    <div id="ticketscroll">
        <ul id="tickets">
            {{#pools}}
            <li class="pool_entry">
              <img src = '{{info.main_pic_url}}' id= "tickpic" >
              <h2>{{info.name}}</h2>
              <p id="drawdate">Draw on {{info.draw_string}}</p>
              <h3>Players:</h3>
              {{#info.sample_users}}
                <img src = "http://graph.facebook.com/{{facebook_id}}/picture?type=normal" class= "playerpic" >
              {{/info.sample_users}}
              <p id="more">{{info.more_text}}</p>
              <button id="invite">INVITE FRIENDS</button>
            </li>
            {{/pools}}
          </ul>
    </div>
    <div id="feed"></div>
    <div id="footer"></div>
</body>
    
    
</html>