<html>
    <head>
        // <script type = "text/javascript" src = "../public/javascript/newPool.js"></script>
        <link rel="stylesheet" href="../public/css/newPool.css" type="text/css" />
    </head>
    <body>
    <header>
		<div id="header_wrapper">
			<h1 id="logo"><a href="/home"><img src ="../public/images/Logo-Large.png" alt = "Pool Party Logo" id="logoimage">Lotteria</a></h1>
			<ul id="top_nav">
				<li id="nav_nticket"><a href="/newPool"></a><p>NEW POOL</p></li>
				<li id="nav_tickets"><a href="/mytickets"></a><p>MY POOLS</p></li>
				<li id="nav_rewards"><a href="/rewards"></a><p>REWARDS</p></li>
				<li id="nav_settings"><a href="/logout"></a><p>LOGOUT</p></li>
			</ul>
            <div id="powerbucks">You have: ${{user.powerbucks}} PowerBucks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</div>
	</header>
        <form method="POST" action="create" id="sendForm">
          <div id = "poolFields">
            <div id ="mainFields">
            
            
                
                <div id = "textDivs">
                       <div class = "fieldDiv">  

        
                                    <p>Ticket Title:</p>
                <input type="text" class = "field" id="ticketTitle" name="name" value=""> 
                           
                            </div> 
                    <div class = "dateFieldDiv">   
                           <p>Draw Date</p>
                    </div>
        <div class = "dateFieldDiv">   
            <p>Month:&nbsp;&nbsp;</p>
            <input maxlength="2" type="text" class = "dateField" id="month" name="month" value="MM"> 
        </div> 
            <div class = "dateFieldDiv"> 
            <p>Day:&nbsp;&nbsp;</p>
            <input maxlength="2" type="text" class = "dateField" id="day" name="day" value="DD"> 
       </div> 
        <div class = "dateFieldDiv">  
              <p>Year:&nbsp;&nbsp;</p>
            <input maxlength="4" type="text" class = "dateField" id="year" name="year" value="YYYY"> 
        </div> 
           
                        
        <div class = "invite">
                       <div class="powerbutton">
              <button id="invite">&nbsp;&nbsp;INVITE FRIENDS</button>
                <img class="pbstar" src="../public/images/Powerbucks25.png" alt="powerbucks">
            </div>
                    
                         <div class = "fieldDiv2"> 
        <p>Invite Only:</p>
            <input type="checkbox" tabindex="401"  id="privacy" name="private" value="true">      
                        
                    </div>
  
 
           
        </div> 
                 </div>
                
                
         
        <div class = "descriptionDiv"> 
            <p>Description:</p>
            
         </div> 
         
            <form method="get" action="http://www.web-wise-wizard.com/cgi-bin/cgi-tests/textarea-wrap-test.cgi">
            <textarea id="ticketDescription" name="userInput" cols="36" rows="5" wrap="virtual" name="desc"></textarea>
            <input   type="hidden" name="wrapAttribute" value="virtual">
            </form>


   
            

        </div>
            <div class ="footer">

                <button onclick = "location.href='/picker'"class = "submit" id = "submit">SUBMIT </button>

        
            </div>
            </div>
        </form>

<div id ="imageDiv">
                     <img src ="../public/images/eventPhoto.jpg" id="eventImage">
                     <form enctype="multipart/form-data" action="/upload/image" method="post" id="upform"> 
                     <!-- <form action="/upload/image" method="POST" id="upform">  -->
                        <input type="file" name="img" </input>
                        <button id = "upload" type="submit" action="submit">Upload</button>
                     </form>
                     <!-- <form action="/upload/image" method="POST">
                        Select a file: <input type="file" name="img">
                        <input type="submit"> 
                      </form> -->
                     

                </div>

    </body>
</html>