<!DOCTYPE html>
<html>
<head>
    <title>Lotteria</title>
    <link rel="stylesheet" href="../public/css/newsfeed.css" type="text/css" />

    <link rel="stylesheet" href="../public/css/ticket.css" type="text/css" />
    <script type="text/javascript" src="/public/javascript/newsfeed.js"></script>
</head>
<body>
    <div id="powerbucks">You have: ${{user.powerbucks}} PowerBucks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <header>
		<div id="header_wrapper">
			<h1 id="logo"><a href="/home"><img src ="../public/images/Logo-Large.png" alt = "Pool Party Logo" id="logoimage">Lotteria</a></h1>
			<ul id="top_nav">
				<li id="nav_nticket"><a href="/newPool"></a><p>NEW POOL</p></li>
				<li id="nav_tickets"><a href="/mytickets"></a><p>MY POOLS</p></li>
				<li id="nav_rewards"><a href="/rewards"></a><p>REWARDS</p></li>
				<li id="nav_settings"><a href="/logout"></a><p>LOGOUT</p></li>
			</ul>
		</div>
	</header>
    <div id="mid">
        <h1 id="jackpot">Current Jackpot: $80,000,000</h1>
    </div>
            <div id = "poolFeed">
        
                     <p id="poolText">Pool Feed:&nbsp;&nbsp;&nbsp;&nbsp;</p>
           
        
            <input type="text" id="chatText" value="Find a Pool and Join the Fun!">  
            
         <h2 id ="noPool">No Pools Match Your Search</h2>
       
        </div>
    <p id="yourtix">Your Friends' Pools:</p>

    <div id="ticketscroll">
        <ul id="tickets">
            {{#pools}}
            <div class="tickwrapper">
              <li class="pool_entry">
              <a href="/ticketProfile/{{id}}"><img src = '{{info.main_pic_url}}' class= "tickpic" ></a>
              <a href="/ticketProfile/{{id}}" class = "titlelink"><h2>{{info.name}}</h2></a>
              <p class="drawdate">Draw on {{info.draw_string}}</p>
              <h3>Players:</h3>
            <div class="playerpics">
              {{#info.sample_users}}
                <img src = "http://graph.facebook.com/{{facebook_id}}/picture?type=normal" class= "playerpic" >
              {{/info.sample_users}}
            </div>
              <p class="more">{{info.more_text}}</p>
            <div class="powerbutton">
              <button class="invite">INVITE FRIENDS</button>
                <img class="pbstar" src="../public/images/Powerbucks25.png" alt="powerbucks">
            </div>
            </li>
            </div>
            {{/pools}}
          </ul>
    </div>
    <div id="feed"></div>
    <div id="footer"></div>
</body>
    
    
</html>