<html>
    <head>
    
        <script type = "text/javascript" src = "../public/javascript/picker.js"></script>
        <link rel="stylesheet" href="../public/css/rewards.css" type="text/css" />
    </head>
    <body>
    <div id="powerbucks">You have: ${{user.powerbucks}} PowerBucks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <header>
        <div id="header_wrapper">
            <h1 id="logo"><a href="/home"><img src ="../public/images/Logo-Large.png" alt = "Pool Party Logo" id="logoimage">Lotteria</a></h1>
            <ul id="top_nav">
				<li id="nav_nticket"><a href="/newPool"></a><p>NEW POOL</p></li>
				<li id="nav_tickets"><a href="/mytickets"></a><p>MY POOLS</p></li>
				<li id="nav_rewards"><a href="/rewards"></a><p>REWARDS</p></li>
				<li id="nav_settings"><a href="/logout"></a><p>LOGOUT</p></li>
			</ul>
        </div>
    </header>
    <div id= "main_area">
        <h2>Redeem PowerBucks For The Prize of Your Choice</h2>
        <ul id= "rewards_list">
            <li class = "reward"><div class = "picholder"><img class ="reward_photo" src = "../public/images/amazoncard.jpg"  ></div><a class = "reward_text">Amazon Gift Card $10</a><a class= "reward_cost">2,500</a><img class="pbstar" src="../public/images/Powerbucks.png" alt="powerbucks star"></li>
            <li class = "reward"><div class = "picholder"><img class ="reward_photo" src = "../public/images/amazoncard25.jpg"  ></div><a class = "reward_text">Amazon Gift Card $25</a><a class= "reward_cost">5,000</a><img class="pbstar" src="../public/images/Powerbucks.png" alt="powerbucks star"></li>
            <li class = "reward"><div class = "picholder"><img class ="reward_photo" src = "../public/images/netflix.jpg"  ></div><a class = "reward_text">Half a Year of Free Netflix</a><a class= "reward_cost">10,000</a><img class="pbstar" src="../public/images/Powerbucks.png" alt="powerbucks star"></li>
             <li class = "reward"><div class = "picholder"><img class ="reward_photo" src = "../public/images/spapack.jpg"  ></div><a class = "reward_text">Spa "Treat Yourself" Pack</a><a class= "reward_cost">20,000</a><img class="pbstar" src="../public/images/Powerbucks.png" alt="powerbucks star"></li>
            <li class = "reward"><div class = "picholder"><img class ="reward_photo" src = "../public/images/visa-gc.jpg"  ></div><a class = "reward_text">VISA Cash Card $150</a><a class= "reward_cost">50,000</a><img class="pbstar" src="../public/images/Powerbucks.png" alt="powerbucks star"></li>
            <li class = "reward"><div class = "picholder"><img class ="reward_photo" src = "../public/images/vineyard.jpg"  ></div><a class = "reward_text">Weekend Trip to a Vineyard</a><a class= "reward_cost">2,000,000</a><img class="pbstar" src="../public/images/Powerbucks.png" alt="powerbucks star"></li>
        </ul>
    </div>
        <footer>
			<div id="footer_nav">
				<div id="footer_nav_wrapper">
					<ul>
						<li class="footerlink"><a href="/about">About Us</a></li>
						<li class="footerlink"><a href="/howitworks">How it Works</a></li>
						<li class="footerlink"><p>GTechPoolPlay@gmail.com   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1-888-732-1124&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
                        <li class="footerlink"><p>© 2014 GTech - All Rights Reserved</p></li>
					</ul>
				</div>
			</div>
		</footer>
    </body>
</html>